{% extends 'base.html' %}


{% block title %} {% if object %}Редактирование заказа{% else %}Оформление заказа{% endif %} {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="">Оформление заказа</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary" style="padding: 10px 30px; font-size: 0.9rem; margin-top: 20px;">Заказать</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}