
{% extends 'base.html' %}


{% block title %} Рестораны {% endblock %}

{% block sidebar %}
<div class="col-md-3" style="margin-top: 10px; margin-left: 150px;">
    <div class="card-body">
        <form method="get">
            {% csrf_token %}
            {{ filter.form.as_p }}
            <button class="btn btn-primary" type="submit">Найти</button>
        </form>
    </div>

</div>


{% endblock %}

{% block body %}
<div class="container nt-5 mb-5">
    <div class="container nt-5 mt-5">
        <h1 style="margin-bottom: 30px;">Рестораны</h1>
        <div class="row">
            {% for rest in rests %}
                <div class="col-md-4 nt-4" style="margin-bottom: 10px">
                    <div class="card-img-container">
                        {% if rest.photo_rest %}
                            <img src="{{rest.photo_rest.url}}" class="rounded-3" width="356px" height="237px"/>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{rest.name}}</h5>
                        <p class="card-text">{{rest.address}}</p>
                        <form action="{% url 'food_delivery:rest_menu' rest.pk %}">
                            <button class="btn btn-primary" style="padding: 10px 30px; font-size: 0.9rem;"
                            >Меню</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}